body{
    background-position: center;
    background-size: cover;

}

.heading{
    font-size: 20px;
    width: 100%;
    margin: 0;
}
#status,#number_of_objects{
    font-size: 18px;
}

canvas{
    box-shadow: 10px 10px 10px grey;
    margin: 30px;
    border-radius: 10px;
}